[Unit]
Description=Atuin Daemon Socket
Documentation=https://docs.atuin.sh

[Socket]
ListenStream=%t/atuin.sock
SocketMode=0600

[Install]
WantedBy=sockets.target
