[Unit]
Description=Mullvad Client
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/mullvad-vpn
Restart=on-failure
RestartSec=25

[Install]
WantedBy=default.target
