[Unit]
Description=OpenCode
Before=graphical-session.target
After=graphical-session-pre.target
PartOf=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
ExecStart=%h/.bun/bin/opencode web --hostname 0.0.0.0 --cors app://obsidian.md
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session-pre.target

