[Unit]
Description=Restart spotifyd after resume
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --user --no-block restart spotifyd.service

[Install]
WantedBy=suspend.target
