[user]
	email = joe@maples.dev
	name = Joe Maples
	signingkey = 0FBB331F
[color]
	ui = auto
	ui = true
[alias]
	cp  = cherry-pick -s
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	cpq = cherry-pick --quit
	hr  = reset --hard
[core]
	editor = micro
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[gpg]
	program = gpg
[review "review.carbonrom.org"]
	username = frap129
	email = joe@maples.dev
[push]
	gpgSign = if-asked
