@import "../../.cache/wal/colors-waybar.css";

@define-color bg_secondary rgba(0, 0, 0, 0);
@define-color bg_primary rgba(255, 255, 255, 0.7);
@define-color fg_primary #333;

* {
    border-top: solid 1px @bg_secondary;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: "Cantarell", "FuraCode Nerd Font";
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
    padding: 0px 2px;
}

window#waybar {
    background-color: @bg_secondary;
    color: @color1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    color: @color7;
    padding: 0 2px;
    margin: 0 2px;
}

.modules-center {
    padding: 0px 10px 0px;
    background-color: transparent;
}

.modules-left > * {
  background-color: @color5;
  padding: 0px 10px;
}

.modules-left > widget:first-child {
  border-radius: 16px 0px 0px 16px;
}

.modules-left > widget:last-child {
  background-color: transparent;
  border-radius: 0px 16px 16px 0px;
}

.modules-left > widget:nth-last-child(2) {
  border-radius: 0px 16px 16px 0px;
}

.modules-right > * {
  background-color: @color5;
  padding: 0px 10px;
}

.modules-right > widget:first-child {
  background-color: transparent;
}

.modules-right > widget:nth-child(2) {
  border-radius: 16px 0px 0px 16px;
}

 .modules-right > widget:last-child {
  border-radius: 0px 16px 16px 0px;
} 

#workspaces button {
    padding: 0px 2px 2px;
    background-color: transparent;
    color: @background;
}

#workspaces button:hover {
    background: @color1;
	border-radius: 16px;
}

#workspaces button.focused {
    color: @color7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
	border-radius: 16px;
}

#mode {
    color: red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#bluetooth,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#custom-playerctl{
	color: @color0;
    padding: 0 2px;
    margin: 0 2px;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
    border: none;
    border-radius: 16px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: none;
    border-radius: 16px;
}

#clock {
    color: @color7;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}


#pulseaudio.sink.muted {
    color: #888;
}


#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray image {
    padding: 0px 2px;
}
