@import "/home/joe/.cache/wal/colors-waybar.css";
@define-color background-alt alpha(@background, 0.6);
@define-color primary alpha(@color2, 0.4);
@define-color selected alpha(@color3, 0.4);

window {
    margin: 2px;
    padding: 6px;
    border: none;
    background-color: @background-alt;
    border-radius: 16px;
}

#input {
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 16px;
    color: @foreground;
    background-color: @primary;
   	outline: none;
   	box-shadow: none;
}

#inner-box {
    margin: 4px;
    border: none;
    background-color: transparent;
    border-radius: 16px;
}

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    color: @foreground;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:focus {
    outline: none;
}

#entry:selected {
    border-radius: 12px;
    background-color: @selected;
}
