@import "/home/frap129/.cache/wal/colors-waybar.css";
@define-color clear rgba(0, 0, 0, 0);
@define-color highlight @color3;
@define-color primary rgba(0, 0, 0, 0.75);

window {
    margin: 0px;
    border: 0px solid;
    background-color: @primary;
    border-radius: 8px;
}

#input {
    margin: 2px;
    border: none;
    color: @#ffffff;
    background-color: @color2;
}

#inner-box {
    margin: 2px;
    border: 0px solid;
    background-color: @clear;
    border-radius: 8px;
}

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: @clear;
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: @primary;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: @primary;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: @color2;
}
