@import "/home/joe/.cache/wal/colors-waybar.css";
@define-color clear rgba(0, 0, 0, 0.0);
@define-color primary rgba(0, 0, 0, 0.75);

window {
    margin: 2px;
    border: 0px solid;
    background-color: @color0;
    border-radius: 8px;
}

#input {
    padding: 4px;
    margin: 4px;
    border: none;
    color: @foreground;
    background-color: @color10;
   	outline: none;
}

#inner-box {
    margin: 4px;
    border: 0px solid;
    background-color: @clear;
    border-radius: 8px;
}s

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: @clear;
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: @foreground;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: @color3;
}
