[Desktop Entry]
Type=Application
Name=winhlp32
Exec=env WINEPREFIX="/home/joe/.local/share/wineprefixes/KH3" wine start /ProgIDOpen hlpfile %f
NoDisplay=true
StartupNotify=true
Icon=C06E_winhlp32.0
